.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serch-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}
.serch-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.serch-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.waether-icon {
    width: 150px;
    margin: 30px 0;
}
.temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location {
    color: #fff;
    font-size:40px ;
}